
/* Global Styles */
:root {
  --primary-color: #17a2b8;
  --dark-color: #343a40;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* font-family: 'Raleway', sans-serif; */
  font-family: 'Titillium Web', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  /* background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%); */
  color: #333;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}
/* Utilities */
.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  margin-top: 6rem;
  /* margin-bottom: 3rem; */
}

/* Text Styles*/
.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: var(--primary-color);
}

.text-dark {
  color: var(--dark-color);
}



.btn {
  display: inline-block;
  background: var(--light-color);
  color: #333;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
  border-radius: 50vh;
}
.btn2 {
  display: inline-block;
  background: var(--light-color);
  color: #333;
  padding: 0.05rem 0.5rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
  border-radius: 50vh;
}
.btn2 :checked {
  color: var(--primary-color);
}


.alert {
  height: 10vh;
  border-radius: 15px;
  padding: 0.8rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: var(--primary-color);
  color: #333;
}

.btn-primary,
.bg-primary,
.badge-primary,
.alert-primary {
  background: var(--primary-color);
  color: #fff;
}

.btn-light,
.bg-light,
.badge-light,
.alert-light {
  background: var(--light-color);
  color: #333;
}

.btn-dark,
.bg-dark,
.badge-dark,
.alert-dark {
  background: var(--dark-color);
  color: #fff;
}

.btn-danger,
.bg-danger,
.badge-danger,
.alert-danger {
  background: var(--danger-color);
  color: #fff;
}

.btn-success,
.bg-success,
.badge-success,
.alert-success {
  background: var(--success-color);
  color: #fff;
}

.btn-white,
.bg-white,
.badge-white,
.alert-white {
  background: #fff;
  color: #333;
  border: #ccc solid 1px;
}

.btn:hover {
  opacity: 0.8;
}

.bg-light,
.badge-light {
  border: #ccc solid 1px;
}

.round-img {
  border-radius: 50%;
}

.line {
  height: 1px;
  background: #ccc;
  margin: 1.5rem 0;
}

/* Overlay */
.dark-overlay {
  background-color: rgba(0, 0, 0, 0.411);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Navbar --------------------------------------------------------------------- */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1.5rem;
  position: absolute;
  z-index: 1;
  width: 95%;
  top: 10px;
  /* border-bottom: solid 1px var(--primary-color); */
  opacity: 0.9;
  border-radius: 50px;
  margin-left: 2.5%;
  background-color: black;

}

.navbar ul {
  display: flex;
}

.navbar a {
  color: #fff;
  padding: 0.45rem;
  margin: 0 0.25rem;
}

.navbar .navBtn {
  /* color: tomato; */

}

.navbar a:hover {
  /* color: var(--primary-color); */
  /* color: rgb(0, 60, 128); */
  color: var(--danger-color);
}

.navbar .welcome span {
  margin-right: 0.6rem;
}
/* Home --------------------------------------------------------------------- */
.home {
  position: relative;
  background: url('https://oeshighschool.com/wp-content/uploads/2019/05/photo-1554415707-6e8cfc93fe23.jpeg') no-repeat center center/cover;
  height: 100vh;

}

.home-inner {
  color: #fff;
  height: 100%;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
/* Student Profile Card --------------------------------------------------------------------- */
.studentProfile {
  /* padding: 10px; */
  text-align: center;
  color: var(--primary-color);
}

.boxStudentProfile {
  width: 50rem;
  margin: auto;
  margin-top: 10vh;
  display: grid;
  align-items: start;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 20px;

}

.studentCard {
  grid-area: 1 / 1 / 3 / 2;
  /* background-color: teal; */
  /* background-color: whitesmoke; */
  background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
  border-radius: 25px;
  padding: 10px 10px;
  height: 29rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);

}


.studentBio {
  grid-area: 1 / 2 / 2 / 3;
  /* background-color: tomato; */
  /* background-color: whitesmoke; */
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  border-radius: 15px;
  padding: 10px 10px;
  height: 14rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}


.studentSkills {
  grid-area: 2 / 2 / 3 / 3;
  /* background-color: thistle; */
  /* background-color: whitesmoke; */
  background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
  border-radius: 15px;
  padding: 10px 10px;
  height: 13.5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}

.studentMessge {
  grid-area: 3 / 1 / 4 / 3;
  background-color: rgb(191, 195, 216);
  border-radius: 15px;
  padding: 10px 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}
/*Student Card --------------------------------------------------------------------- */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  font-family: 'Titillium Web', sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.avatarIMG {
  border-radius: 15px;
}

.column {
  float: left;
  width: 33.3%;
  /* width: 25%; */
  margin-bottom: -6rem;
  padding: 16px 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: px;
  border-radius: 25px;
  /* height: 550px; */
}

.about-section {
  padding: 10px;
  text-align: center;
  color: var(--primary-color);
}


.container {
  padding: 15px 15px;
}

.container::after,
.row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  margin-top: 12px;
  color: white;
  background-color: var(--primary-color);
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

@media screen and (max-width: 650px) {
  .column {
      width: 100%;
      display: block;
  }
}

/* Search --------------------------------------------------------------------- */
.searchBox {

  box-shadow:
      12px 12px 16px 0 rgba(0, 0, 0, 0.25),
      -8px -8px 12px 0 rgba(255, 255, 255, 0.3);

  position: absolute;
  top: auto;
  left: 50%;
  transform: translate(-50%, 50%);
  background: var(--primary-color);
  height: 40px;
  border-radius: 50vh;
}

.searchBox:hover>.searchInput {
  width: 250px;
  padding: 0 6px;

}

.searchBox:hover>.searchButton {
  background: whitesmoke;

}

.searchButton {
  border-color: var(--primary-color);
  border-style: solid;
  border-width: 0.3vw;
  outline: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;

}

.searchInput {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
}
/* Form --------------------------------------------------------------------- */
.form .form-group {
  margin: 1.2rem 0;
}

.form .form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
  border-radius: 50vh;
}

.form input[type='text'],
.form input[type='email'],
.form input[type='password'],
.form input[type='date'],
.form select,
.form textarea {
  outline: 0;
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  border-radius: 50vh;
}

.form input[type='submit'],
button {
  font: inherit;
  border-radius: 50vh;
}

.form .social-input {
  display: flex;
}

.form .social-input i {
  padding: 0.5rem;
  width: 4rem;
}

.form .social-input i.fa-twitter {
  color: #38a1f3;
}

.form .social-input i.fa-facebook {
  color: #3b5998;
}

.form .social-input i.fa-instagram {
  color: #3f729b;
}

.form .social-input i.fa-youtube {
  color: #c4302b;
}

.form .social-input i.fa-linkedin {
  color: #0077b5;
}

.table th,
.table td {
  padding: 1rem;
  text-align: left;
}

.table th {
  background: var(--light-color);
}

/* Radio-Buttons --------------------------------------------------------------------- */
.Radio-Buttons {
  padding-left: 10px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 18px;
}

label {
  margin-right: 15px;
}

/* Create a custom radio button */
.checkmark {
  /* position: absolute; */
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: rgb(75, 69, 69);
  border-radius: 50%;
}



/* Footer --------------------------------------------------------------------- */
.containerFooter{
   margin-top: 20rem;
   margin-bottom: 0px;
   
  }
  .iconsFooter{
    display: flex;
    justify-content: center;
  }
  .iconFooter{
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 10px;
 }
  .iconFooter :hover{
    color: #333;

}

  

/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* --------------------------------------------------------------------- */
/* Mobile Style --------------------------------------------------------------------- */
@media (max-width: 700px) {
  .container {
      margin-top: 8rem;
  }

  .hide-sm {
      display: none;
  }

  /* Text Styles */
  .x-large {
      font-size: 3rem;
  }

  .large {
      font-size: 2rem;
  }

  .lead {
      font-size: 1rem;
  }

  /* Navbar */
  .navbar {
      display: block;
      text-align: center;
  }

  .navbar ul {
      text-align: center;
      justify-content: center;
  }

  .navbar h1 {
      margin-bottom: 1rem;
  }

  .navbar .welcome {
      display: none;
  }


  .profile-about .skills {
      flex-direction: column;
  }

  .dash-buttons a {
      display: block;
      width: 100%;
      margin-bottom: 0.2rem;
  }



}